<!-- formulario de novo produto -->
<div *ngIf="productAction?.event?.action == addProductAction">
  <form [formGroup]="addProductForm" (ngSubmit)="handleSubmitAddProduct()">
    <div class="flex flex-column md-flex-column gap-3">
      <input pInputText placeholder="Nome" formControlName="name">
      <p-dropdown
      styleClass="w-full"
      [options]="categoriesDatas"
      [(ngModel)]= "selectedCategory"
      optionalLabel="name"
      optionValue="id"
      placeholder="Selecione uma categoria"
      formControlName="category_id"
      >
      </p-dropdown>
      <!-- Preço do Produto -->
      <input pInputText placeholder="Preço" formControlName="price">
      <!-- Descrição do Produto -->
      <input pInputText placeholder="Descrição" formControlName="description">
      <!-- Quantidade do Produto -->
      <input pInputText placeholder="Quantidade" formControlName="amount">

      <div class="flex flex-row justify-content-center align-items-center m-1">
        <p-button
          [disabled]="!addProductForm.valid"
          type="submit"
          label="Concluir"
        ></p-button>
      </div>

    </div>
  </form>
</div>
<!-- formualrio de editar product -->

<div *ngIf="productAction?.event?.action == editProductAction">
  <form [formGroup]="editProductForm" (ngSubmit)="handleSubmitEditProduct()">
    <div class="card flex flex-column md:flex-column gap-3">
      <input pInputText placeholder="Nome" formGroupName="name">
      <div *ngIf="renderDropdown">
        <p-dropdown
        styleClass="w-full"
        [options]="categoriesDatas"
        [(ngModel)]= "selectedCategory"
        optionalLabel="name"
        optionValue="id"
        formControlName="category_id"

        >
        </p-dropdown>
      </div>
      <input pInputText placeholder="Preço" formGroupName="price">
      <input pInputText placeholder="Descrição" formGroupName="description">
      <input pInputText type="number" placeholder="Quantidade" formGroupName="amount">

      <div class="flex flex-row justify-content-center align-items-center align-content-center">
        <p-button
          [disabled]="!editProductForm.valid"
          type="submit"
          label="Concluir"
        >
        </p-button>
      </div>
    </div>

  </form>
</div>

<div *ngIf="productAction?.event?.action == saleProductAction">
  <form [formGroup]="saleProductForm" (ngSubmit)="handleSubmitSaleProduct()">
    <div class="card flex flex-column md-flex-column gap-3">
      <input pInputText placeholder="Nome" formControlName="name">
      <p-dropdown
      styleClass="w-full"
      [options]="productDatas"
      [(ngModel)]= "saleProductSelected"
      optionalLabel="name"
      optionValue="id"
      placeholder="Selecione um produto"
      formControlName="product_id"
      >
      </p-dropdown>
      <!-- Quantidade do Produto -->
      <input type="number" pInputText placeholder="Quantidade" formControlName="amount">

      <div class="flex flex-row justify-content-center align-items-center align-content-center">
        <p-button
          [disabled]="!saleProductForm.valid"
          type="submit"
          label="Concluir"
        ></p-button>
      </div>

    </div>

  </form>
</div>
